<header>
  <nav class="navbar navbar-default">
    <a class="navbar-brand" href="#">Ma Games</a>
  </nav>
</header>

<div class="container">
  <div class="row">
    <nav class="navbar">
      <input class="form-control" type="text" name="search" [(ngModel)]="filter">      
    </nav>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>

          <th>Id</th>
          <th (click)="sort('name')">Name
            <span class="glyphicon sort-icon" *ngIf="key =='name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th (click)="sort('genre')">Genre
            <span class="glyphicon sort-icon" *ngIf="key =='genre'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
        </tr>
      </thead>
      <tbody>
        
        <tr *ngFor="let game of games| orderBy: key : reverse| filter:filter |paginate: { itemsPerPage: 4, currentPage: p }; let i = index" (click)="setClickedRow(i)" [class.active]="i == selectedRow">
          <td>{{i}}</td>
          <td>{{game.id}}</td>
          <td>{{game.name}}</td>
          <td>{{game.genre}}</td>
        </tr>
      </tbody>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </table>
    <div class="well well-lg">
      Selected Row : <strong>{{selectedRow}}</strong>
  </div>
  </div>
</div>